.dlg-dialog {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    min-width: 300px;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
}

.dlg-header {
    background-color: #555;
    color: white;
}

.dlg-caption {
    height: 1.17em;
    text-shadow: 1px 1px 1px black;
}
.dlg-close-button::before,
.dlg-close-button::after {
    background-color: white;
}
