/*********ACCUEIL PHOTO*********/


.accueilphoto{
    height: 100%;
    display: flex;
    justify-content: center;
}

.selectmenu{
    width: 720px;
    margin-right: 320px;
}

.selectmenu p{
    font-size: 28px;
    margin-top: 64px;
    color: var(--grey-100);
    font-style: italic;
}

.subtitle1 h1{
    font-size: 36px;
}

.peches{
    object-fit: cover;
    width: 100%;
}

.textpeches{
    color: white;
    position: absolute;
    display: flex;
    align-self: center;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
}


.textpeches img{
    height: 48px;
}


/*********MEILLEURS VENTES*********/

.bestsellers{
    margin-bottom: 60px;
    margin-top: 60px;
}

.line{
    border: 1px solid #F9B814;
    border-radius: 25px;
    width: 780px;
    margin: auto;
    margin-bottom: 42px;
}

.top-part{  
    margin-top: 42px;
    display: block;
    justify-content: center;
    margin-bottom: 42px;
}

.top-text{
    width: 540px;
    margin: auto;
}

.top-text h1{
    margin-bottom: 24px;
}

.fruit-menu{
    height: 360px;
    width: 1020px;
    border-radius: 25px;
    background-color: #7DD181;
    margin: auto;
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.card-product{
    padding: 18px;
    padding-top: 12px;
    width: 270px;
    height:312px;
    background-color: white;
    border-radius: 18px;
}

.card-product img{
    width: 240px;
    height: 126px;
    margin: auto;
}

.card-product h1{
    font-size: 24px;
}


.small{
    width: 150px;
    margin-bottom: 0px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.add-to-cart{
    margin-bottom: 0px;
    margin-top: 42px;
    margin-bottom: 6px;
}

.add-to-cart p{
    font-size: 18px;
}

.fleche{
    height: 30px;
}





/*********FRUITS DE SAISON*********/

.produits1{
    height: 500px;
}


/*********INFORMATIONS*********/


.info{
    height: 500px;
}