.left-part{
margin-left: 0px;

    display: block;
    justify-content: center;
    margin-bottom: 100px;
    display: grid;
    padding: 40px;
}

.left-part img{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 350px;
    width: auto;
    border-radius: 10px;

    margin-right: 50px;

}
.left-text-mangue {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    height: auto   ;
    width: 525px;
    margin-left: 0 auto;
    family: 'Inter', sans-serif;
    color: #7DD181;
    text-align: center;
}

.left-text-orange {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    height: auto   ;
    width: 658px;
    margin-left: 0 auto;
    family: 'Inter', sans-serif;
    color: #7DD181;
    text-align: center;
}

.rightmenu{
    height: 475px;
    width: 400px;
    border-radius: 25px;
    background-color: #7DD181;


    justify-content: center;

  grid-template-columns:80px 100px 150px;
  grid-template-rows:100px 200px;
  grid-gap:12px;
  gap:12px;
  padding:20px;
  grid-column: 3 / 5;
  grid-row: 1 / 5;

}


#btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  border-color:  var(--green-300);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#btn:hover {
  background-color: #FFFFFF;
;
}

#btn:hover ion-icon {
  animation: roll 0.3s alternate ;
}





.titre-white{
    font-size: 40px;
    font-weight: 700;
    color: var(--green-300);
    font-family: 'Inter';
    margin-bottom: 20px;

}

.titre-white2{
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Inter';
    margin-bottom: 20px;

}

.titre-white3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 240;
  font-size: 19px;
  line-height: 24px;
  color: #FFFFFF;
}

.titre-green{
    margin-top: 0px;
    font-size: 20px;
    font-weight: 700;
    color: #7DD181;
    font-family: 'Inter';
    margin-bottom: 20px;
    text-align: center;
}

.menu-description{
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
    font-family: 'Inter';
    margin-bottom: 20px;

    grid-column: 3/4;
    grid-row: 5;
}

.text2{
margin-top: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 39px;

color: var(--green-300);

}
.text3{
margin-top: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 39px;

    color: #027B08;

}

.button2{
margin-right: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 44px;

color: #027B08;
width: 100%;
box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 20px;
margin-top: 30px;

}

.buttonquant{
background: #FFFFFF;
border-radius: 20px;

border: 1px solid #FFFFFF;
font-family: 'Inter';
font-style: normal;
font-weight: 4px;
font-size: 15px;
line-height: 4px;
text-align: center;
height: 50px;
width: 50px;
color: #027B08;
}

.top-part2{

    display: block;
    justify-content: center;
    margin-bottom: 50px;
    align-text: center;
}

.right{
display: flex;
margin-left: 40%;

}

.description{
margin-top: 15px;

font-family: 'Inter';
font-style: normal;

text-align: center;

color: #027B08;

}