/*********GLOBAL*********/

@import url('https://fonts.googleapis.com/css?family=Inter');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';font-size: 22px;

    --green-100 : #369C3B;
    --green-200 : #2D7F2F;
    --green-300 : #1F5A1D;
    --yellow-100 : #F9B814;
    --grey-100: #F3F3F3;
  }

.yellow {
  color: var(--yellow-100);
}
.green100 {
  color: var(--green-100);
}
.green200 {
  color: var(--green-200);
}
.green300 {
  color: var(--green-300);
}
.grey{
  color: var(--grey-100);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}



/*********TYPOGRAPHIE*********/

.h01 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #027B08;
}

.p01 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: var(--green-100);
}

.p02 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: var(--green-300);
}




/*********HEADER*********/

header {
  justify-content: space-around;
  display:flex;
  margin:auto;
  height: 80;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  border-bottom: 2px solid var(--yellow-100);
}

header ul {
  display: flex;
  gap: 37px;
  align-items:center;
  list-style-type: none;
}

li :hover{
  color: var(--yellow-100);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 13em;
}

.logo img{
  height: 70px;
  margin-top: -10px;
}

.connexion{
  display: flex;
  align-items: center;
}

.connexion img{
  height: 30px;
}

.panier img{
  height: 42px;
}

.panier div{
  display: inline-block;
  border-color: var(--yellow-100);
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: -25px;
  background-color: white;
}
.panier div p{
  font-size: 16px;
}




/*********FOOTER*********/