html {
  background: linear-gradient(
		145deg,
		var(--orange-100) 40%,
		rgb(235, 184, 117) 60%
	);
	height: 100%;
}


.content{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 40%;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 800px;
}

.content p{
  width: 80%;
}

.content img{
  width: 85%;
  height: auto;
}


