/*********LOGIN*********/

html {
    height: 100%;
}

html {
    /*background-color: var(--orange-100);*/
    background-image: url("../img/fruitsfond.jpg");
    background-size: cover;

}

a:hover {
    color: var(--yellow-100);
    transition: all ease 0.2s;
}

a {
    transition: all ease 0.2s;
}

.login {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: white;
    padding: 2vw;
    border-radius: 20px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.login label {
    margin-top: 25px;
    padding: 5px;
    padding-left: 10px;
}

.login input {
    border: 2px solid rgb(156, 156, 156);
    border-radius: 4px;
    font-size: 18px;
    min-width: 250px;
    padding: 0.5rem;
}

.login input:focus {
    border: 2px solid rgb(83, 83, 83);
    box-shadow: none;
    outline: none;
}

h2 {
    color: black;
}

input[type="submit"] {
    cursor: pointer;
    border-radius: 10px;
    border: 0px;
    background: linear-gradient(135deg,
            var(--orange-100) 16%,
            rgb(255, 207, 144) 40%,
            rgb(235, 184, 117) 53%);
    background-size: 300% 100%;
    height: 70px;
    width: 250px;
    align-self: center;
    transition: all 0.4s ease-in-out;
    font-size: 22px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
}

.bottom-text {
    margin-top: 8px;
    display: flex;
    padding: 2px;
    justify-content: space-between;
    margin-bottom: 25px;
}

.erreur {
    height: 42px;
    width: 50%;
    color: rgb(194, 30, 30);
    font-size: 17px;
}

.mdp {
    width: 50%;
    justify-self: center;
    font-size: 17px;
    text-align: end;
}

.inscription {
    font-size: 22px;
}

/*********REGISTER*********/

.register {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 700px;
    max-width: 800px;
    height: 87%;
    min-height: 650px;
    background-color: white;
    padding: 2vw;
    border-radius: 20px;
    position: absolute;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -47%);
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: scroll;
}


.register form {
    width: 100%;
}

.register img {
    width: 20px;
    height: 20px;
}

.register label {
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
}

.register input {
    width: 70%;
    padding: 5px;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 4px;
    font-size: 18px;
    padding: 0.5rem;
}

.register input:focus {
    border: 2px solid rgb(83, 83, 83);
    box-shadow: none;
    outline: none;
}

.register .name input {
    width: 50%;
}

.register .autre input {
    width: 100%;
}

.register input[type="submit"] {
    cursor: pointer;
    border-radius: 10px;
    border: 0px;
    background-color: var(--orange-100);
    height: 70px;
    width: 250px;
    align-self: center;
    transition: all ease 0.5s;
    font-size: 22px;
    margin-bottom: 10px;
}

.register p {
    width: 60%;
    text-align: center;
}

.sous {
    margin-bottom: 25px;
}

.name {
    display: flex;
    width: 70%;
    gap: 3%;
    justify-content: center;
    align-items: center;
}

.autre {
    display: flex;
    width: 70%;
    gap: 3%;
    justify-content: center;
    align-items: center;
}

.sexe {
    display: flex;
    color: 2px solid rgb(156, 156, 156);
    align-self: flex-start;
    margin-left: 16%;
    gap: 10px;
}

.sexe label {
    margin: 0;
    padding: 5;
    font-size: 18px;
}

/*********FORGOT PASSWORD********/


.reset {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background-color: white;
    padding: 2vw;
    border-radius: 20px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.reset a {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reset h2 {
    margin-top: 20px;
}

.reset label {
    margin-top: 10px;
    padding: 5px;
    padding-left: 10px;
}

.reset input {
    border: 2px solid rgb(156, 156, 156);
    border-radius: 4px;
    font-size: 18px;
    min-width: 250px;
    padding: 0.5rem;
}

.reset input:focus {
    border: 2px solid rgb(83, 83, 83);
    box-shadow: none;
    outline: none;
}

input[type="submit"] {
    cursor: pointer;
    border-radius: 10px;
    border: 0px;
    background: linear-gradient(135deg,
            var(--orange-100) 16%,
            rgb(255, 207, 144) 40%,
            rgb(235, 184, 117) 53%);
    background-size: 300% 100%;
    height: 70px;
    width: 250px;
    align-self: center;
    transition: all 0.4s ease-in-out;
    font-size: 22px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
}


.petit {
    height: 25px;
    align-self: flex-start;
    margin-bottom: 0px;
}



/*********CLIENTVIEW*********/

.infos {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 30px;
    min-width: 830px;
    min-height: 450px;
    border-radius: 20px;
    margin: auto;
    margin-top: 80px;
    padding: 50px;
    gap: 150px;
    padding-top: 30px;
}

.profil {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid var(--orange-100);
}

.profil img {
    width: 35px;
    height: 35px;
}

.infos img {
    width: 22px;
    height: 22px;
}

.right a {
    margin-left: 90%;
}

.commandes {
    width: 50%;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: white;
    min-width: 830px;
    min-height: 300px;
    border-radius: 20px;
    margin: auto;
    margin-top: 80px;
    padding: 50px;
    padding-top: 30px;
    margin-bottom: 100px;
}

.commandes h1 {
    font-size: 27px;
    margin-bottom: 15px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10 0px;
}



.topco th {
    border: 1px solid rgb(150, 150, 150);
    padding: 10px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;

}

.left img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.left h1 {
    font-size: 35px;
}

.button {
    width: 50%;
    align-self: center;
    font-size: 18px;
    text-align: center;
    padding: 3px;
    margin-top: -10px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.editfield {
    height: 50px;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.case {
    min-height: 60px;
    padding: 10px;
    display: flex;
    gap: 15px;
}

.modifmdp {
    height: 300px;
}

.modifmdp p {
    margin-bottom: 0;
}

/*********RESPONSABLE VIEW*********/

table img {
    width: 150px;
    height: 150px;
}

input[type="checkbox"] {
    width: 30px;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.description {
    width: 70%;
    height: 100px;
    padding: 5px;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 4px;
    font-size: 18px;
    padding: 0.5rem;
    resize: none;
}

/*********ADMIN VIEW*********/

table {
    display: flex;
    padding: 0;
    border: 2px solid rgb(150, 150, 150);
    border-collapse: collapse;
    border-spacing: 0px;
}

td {
    border: 1px solid rgb(150, 150, 150);
    padding: 4px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.table {
    margin: auto;
    padding: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.table a img {
    padding: 25px;
    width: 75px;
    height: 75px;
}

.reset2 {
    margin-right: 300px;
    font-size: 20px;
}

.reset3 {
    margin-right: 120px;
    font-size: smaller;
}

.reset3:hover {
    color: black;

}

.accordion {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 20px;
    border: 2px solid rgb(43, 43, 43);
    margin-bottom: 10px;
    margin-bottom: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    border: 2px solid rgb(228, 153, 41);
    transition: all 0.3s ease-in-out;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    width: 100%;
    padding: 20px;
    width: 100%;
    padding: 20px;
    background-color: white;
    overflow: hidden; 
    display: none;
  }

.table td {
    padding: 10px;
    text-align: center;
}

.gestFruit {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.accordion:after {
    content: '\02795';
    content: '\02795';
    font-size: 13px;
      color: #777;
      float: right;
    margin-left: 5px;
    margin-top: 5px;
    }
    
    .active:after {
    content: "\2796";
    content: "\2796";
    }

.accordionCommande {
    background-color: #eee;
    color: #444;
    background-color: #eee;
    color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
    border: none;
    outline: none;
    border: none;
    outline: none;
      transition: 0.4s;
      border-radius: 15px;
      margin-bottom: 10px;
    }
    
    .activeCommande, .accordionCommande:hover {
      background-color: #ccc;
    }
    
    .panelCommande {
        margin-top: -10px;
        margin-bottom: 15px;
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .accordionCommande:after {
        content: '\02795';
        font-size: 13px;
          color: #777;
          float: right;
        margin-left: 5px;
        margin-top: 5px;
        }
        
        .activeCommande:after {
        content: "\2796";
        }
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .accordionCommande:after {
        content: '\02795';
        font-size: 13px;
          color: #777;
          float: right;
        margin-left: 5px;
        margin-top: 5px;
        }
        
        .activeCommande:after {
        content: "\2796";
        }