/*********LOGIN*********/

html {
	height: 100%;
}

body {
	background: linear-gradient(
		145deg,
		var(--orange-100) 20%,
		rgb(255, 210, 87) 50%
	);
	height: 100%;
}

.login {
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 600px;
	background-color: white;
	padding: 2vw;
	border-radius: 20px;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
	gap: 20px;
}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.login label {
	margin-top: 25px;
	padding: 5px;
	padding-left: 10px;
}

.login input {
	padding: 5px;
	border: 2px solid rgb(156, 156, 156);
	border-radius: 4px;
	font-size: 18px;
	min-width: 250px;
	padding: 0.5rem;
}

.login input:focus {
	border: 2px solid rgb(83, 83, 83);
	box-shadow: none;
	outline: none;
}

h2 {
	color: black;
}

input[type="submit"] {
	cursor: pointer;
	border-radius: 10px;
	border: 0px;
	background: linear-gradient(
		90deg,
		var(--orange-100) 16%,
		rgb(255, 220, 103) 40%,
		rgb(253, 196, 97) 53%
	);
	background-size: 300% 100%;
	height: 70px;
	width: 250px;
	align-self: center;
	transition: all 0.4s ease-in-out;
	font-size: 22px;
}

input[type="submit"]:hover {
	cursor: pointer;
	background-position: 100% 0;
	transition: all 0.4s ease-in-out;
}

.bottom-text {
	margin-top: 8px;
	display: flex;
	padding: 2px;
	justify-content: space-between;
	margin-bottom: 25px;
}

.erreur {
	height: 42px;
	width: 50%;
	color: rgb(194, 30, 30);
	font-size: 17px;
}
.mdp {
	width: 50%;
	justify-self: center;
	font-size: 17px;
	text-align: end;
}

.inscription {
	font-size: 22px;
}

/*********REGISTER*********/

.register {
	display: flex;
	flex-direction: column;
	width: 60%;
	min-width: 700px;
	max-width: 800px;
	height: 85%;
	min-height: 600px;
	background-color: white;
	padding: 2vw;
	border-radius: 20px;
	position: absolute;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -47%);
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
}

.register label {
	margin-top: 10px;
	padding: 5px;
	padding-left: 10px;
}

.register input {
	width: 70%;
	padding: 5px;
	border: 2px solid rgb(156, 156, 156);
	border-radius: 4px;
	font-size: 18px;
	padding: 0.5rem;
}

.register input:focus {
	border: 2px solid rgb(83, 83, 83);
	box-shadow: none;
	outline: none;
}

.register .name input {
	width: 50%;
}

.register input[type="submit"] {
	cursor: pointer;
	border-radius: 10px;
	border: 0px;
	background-color: var(--orange-100);
	height: 70px;
	width: 250px;
	align-self: center;
	transition: all ease 0.5s;
	font-size: 22px;
	margin-bottom: 10px;
}

.register p {
	width: 60%;
	text-align: center;
	margin-bottom: 40px;
}
.name {
	display: flex;
	width: 70%;
	gap: 3%;
}

/*********CLIENTVIEW*********/

.infos {
	background-color: white;
	display: grid;
	grid-template-columns: 300px 300px;
	grid-template-rows: repeat(6, 100px);
	justify-content: center;
	width: 60%;
	min-height: 100;
	margin: auto;
	border-radius: 20px;
	column-gap: 200px;
	padding: 50px;
}

.champ {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.champ p {
	text-align: left;
	padding: 10px;
}

.bouton {
	margin-top: 35px;
	border: 2px solid var(--green-200);
	height: 50px;
	border-radius: 10px;
	font-size: 20px;
	background-color: rgb(241, 241, 241);
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	margin-top: 50px;
	margin-bottom: 20px;
}

.editfield {
	height: 50px;
	border: none;
	border-radius: 15px;
	padding: 10px;
}
