/*********ACCUEIL PHOTO*********/


.slider{
    position: relative;
    height: 95%;
    transition: 1s ease-in-out;
}
.sliderinside{
    display: none;
    animation-name: fadeIn;
    animation-duration: 1s;
}
.sliderimage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.prev, .next{
    height: 48px;
    cursor: pointer;
    position: absolute;
    margin-left: 12%;
    top: 45vh;
    transition: 0.1s ease-in-out;
}

.next{
    right:12%;
}

.prev:hover, .next:hover{
    transform: scale(1.2);
    transition: 0.1s ease-in-out;
}



.slidertext{
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--grey-100);
    width: 40%;
    margin-left: 23%;
    margin-top: -700px;
}

.slidertext h1{
    font-size: 36px;
}

.slidertext p{
    margin-top: 50px;
    font-size: 28px;
    font-style: italic;
}
  
@keyframes fadeIn {
    from {opacity: .90}
    to {opacity: 1}
}


/*********MEILLEURS VENTES*********/

.bestsellers{
    margin-bottom: 60px;
    margin-top: 60px;
}

.line{
    border: 1px solid #F9B814;
    border-radius: 25px;
    width: 780px;
    margin: auto;
    margin-bottom: 50px;
}

.top-part{  
    margin-top: 50px;
    display: block;
    justify-content: center;
    margin-bottom: 50px;
}

.top-text{
    width: 540px;
    margin: auto;
}

.top-text h2{
    margin-bottom: 24px;
}

.fruit-menu{
    height: 360px;
    width: 1020px;
    border-radius: 25px;
    background-color: var(--green-10);
    margin: auto;
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.card-product{
    padding: 18px;
    padding-top: 12px;
    width: 270px;
    height:312px;
    background-color: white;
    border-radius: 18px;
}

.card-product img{
    width: 240px;
    height: 126px;
    margin: auto;
}

.card-product h2{
    font-size: 24px;
}


.small{
    width: 150px;
    margin-bottom: 0px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.add-to-cart{
    margin-bottom: 0px;
    margin-top: 42px;
    margin-bottom: 6px;
}

.add-to-cart p{
    font-size: 18px;
}

.fleche{
    height: 30px;
}





/*********FRUITS DE SAISON*********/


/*********INFORMATIONS*********/

.info{
    width: 90%;
    display: flex;
    margin-top: 250px;
    margin-bottom: 250px;
    justify-content: center;
    margin-left:5%;
}
.infoPart{
    width: 400px;
    display: block;
}

.infoPart img{
    display: block;
    height: 150px;
    width: 150px;
    margin: auto;
}

.infoPart h2{
    margin-top: 50px;
    margin-bottom: 25px;
}

.lineVertical{
    height: 180px;
    width: 2px;
    margin: 50px;
    margin-top: 70px;
    background-color: #F9B814;
}


/*********FOOTER*********/
footer{
    position: relative;
    width: 98%;
    background-color: var(--green-10);
    margin: auto;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 20px;
}

footer p{
    position:absolute;
    bottom:0;
    right:0;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 240;
    font-size: 15px;
    line-height: 24px;
    color: white;
}