@import url("https://fonts.googleapis.com/css?family=Inter");

*{
    --yellow-100: #ffc157ab;
    --yellow-200: #face5f;
    --yellow-300: #f9b814;
    font-family: Inter;
}

.yellow1{
    background-color: var(--yellow-100);
}
.yellow2{
    background-color: var(--yellow-200);
}
.yellow3{
    background-color: var(--yellow-300);    
}

.cardMini{
    width: 350px;
    height: 120px;
    border:2px solid #959595;
    border-radius: 19px;
    box-shadow:2px 2px 2px #959595;
    background-color: white;
    display: flex;
}

.cardMini p{
    font-size: 16px;
    line-height: 2px;
}
.cardMini button{
    font-size: 16px;
    cursor: pointer;
}

.cardMini img{
    height: 115px;
    width: 115px;
    border-radius: 19px 0px 0px 19px;
    background-color: whitesmoke;
}

.cardMini:hover{
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
}

.cardMini .nomMini{
    font-size: 20px;
    margin: 30px 0px 10px 20px;
}

.prixMini{
    margin: 20px 0px 20px 20px;
    color: #494949;
}

.buttonsMini{
    width: 166px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.buttonsMini button{
    border: none;
}

.manageMini{
    height: 27px;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F9B814;
    border-radius: 6px;
    margin-right: 9px;
    gap: 4px;
    flex-grow: 0;
}

.manageMini .subtotal{
    margin-left: 10px;
}

.manageMini button{
    background: none;
}

.suppr{
    background-color: #F9B814;
    border-radius: 6px;
    width: 97px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.rightMini{
    width: 100%;
}