html {
    background-color: var(--orange-100);
}

th {
    width: 500px;
    border: none;
}

.tablePanier {
    border-collapse: collapse;
    width: 55%;
    margin: auto;
    margin-bottom: 10   0px;
    margin-bottom: 100px;
}

.rightPan img {
    height: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.tablePanier td {
    text-align: center;
    height: 130px;
}

td button {
    border: none;
    background-color: white;
    cursor: pointer;
}

td img {
    height: 100px;
    padding-left: 30px;
}

.empty {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vw;
    border-radius: 20px;
    position: fixed;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title {
    color: black;
    margin: 40px;
}

.totalPanier {
    display: flex;
    position: fixed;
    background-color: #ffc37a;
    justify-content: end;
    align-items: center;
    gap: 40px;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding-left: 50px;
    padding-right: 50px;
    opacity: 1  ;
}

.totalPanier input{
    width: 300px;
    height: 50px;
    border: 1px solid #959595;
    border-radius: 19px;
    box-shadow: 2px 2px 2px #959595;
    background-color: white;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    color: black;
}

.totalPanier button{
    transition: 0.1s ease-in-out;
    transform: scale(1.05);
}

.totalPanier .connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 1px solid #959595;
    border-radius: 19px;
    box-shadow: 2px 2px 2px #959595;
    background-color: white;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    color: black;
}

.totalPanier .connexion:hover{
    transition: 0.1s ease-in-out;
    transform: scale(1.05);
}

.totalPanier input:hover{
    transition: 0.1s ease-in-out;
    transform: scale(1.05);
}

.requireconn{
    display: flex;
    align-items: center;
    gap: 20px;
}

.infos{
    display: flex;
    align-items: center;
    gap: 20px;
}


.total{
    width: 300px;
    height: 50px;
    border-radius: 19px;
    background-color: rgb(251, 229, 206);
    display: flex;
    align-items: center;
    justify-content: center;
}

.total p{
    color: black;
}


input:disabled,
input[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #909090;
    box-shadow: none;
    border: none;
    cursor:default;
}

input:disabled,
input[disabled]:hover{
    transform: none;    
}

.fruitDansPanier {
    border-collapse: collapse;
  }
  .fruitDansPanier th {
    padding: 3px 10px;
  }
  .tablePanier .fruitDansPanier td {
    position: relative;
    background-color: white;
    padding: 6px 10px;
    border-bottom: 10px solid #ffd58e;
    border-top: 10px solid #ffd58e;
  }
    .fruitDansPanier td:first-child:before {
    content: '';
    position: absolute;
    border-radius: 10px 0 0 10px;
    background-color:#f9b814;
    width: 15px;
    height: 100%;
    left: -12px;
    top: 0px;
  }

  .fruitDansPanier td:first-child {
    width: 5%;
  }
  .fruitDansPanier td:last-child {
    border-radius: 0 20px 20px 0;
  }
  