th{
    width: 500px;
    border: none;
}

tr{
    border: 2px green solid;
    border-radius: 20px;
    margin: 20px;
}

tr:nth-child(1){
    border: none;
}

table{
    border-collapse:collapse;
    width: 70%;
    margin: auto;
}

td img{
    height: 200px;
}
