@import url("https://fonts.googleapis.com/css?family=Inter%22");

.flex{
display: flex;
padding: 0;
}

body{
background-color: #FFE0AA;
}

.img{

margin-left: 20%;

margin-top: 5%;
height: 400px;
width: 400px;

border-radius: 8px;

}

.rightsquare{

background-color: white;
border-radius: 8px;
height: 400px;
width: 492px;
margin-top: 5%;
margin-right: 20%;
margin-left: 7%;
}

.titre{
font-family: 'Mango Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;
text-align: center;
margin-top: 5%;
color: #000000;
}

.text{
font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
margin-left: 10%;
}

.plusoumoins{
font-family: Inter;

display: flex;
box-sizing: border-box;
margin-left: 10%
width: 209px;
height: 50px;
left: 1142px;
top: 611px;


background: #FFFFFF;
border: 3px solid #FACE5F;
}

.bascadre{
display : flex ;
margin-left: 10%;

}

.bouton-plusoumoins{
font-family: Inter;
border: medium none;
background-color: white;
color: green;
border-radius: 50%;
width: 30px;
height: 30px;
cursor: pointer;
font-size: 30px;
margin-right: 10%;

}
.bouton-ajouter{
font-family: Inter;
background: #FACE5F;
width: 233px;
height: auto;
left: auto;
top: 500px;
font-size: 30px;
border: 2px solid #F9B814;
border-radius: 10px;
margin-left: 15%;
}

.zéro{
margin-top: 5%;
font-size: 30px;
}

.desciption{
font-family: Inter;
margin-left: 20%;
width: 1000px;
height: auto;
padding: 1%;

background: #FACE5F;
border-radius: 20px;
margin-top: 7%;
}
