/*********GLOBAL*********/

@import url("https://fonts.googleapis.com/css?family=Inter");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Inter";
	font-size: 22px;

	--green-10: #7dd181;
	--green-100: #369c3b;
	--green-200: #2d7f2f;
	--green-300: #1f5a1d;
	--yellow-100: #f9b814;
	--orange-100: #ffc157ab;
	--grey-100: #f3f3f3;
}

.yellow {
	color: var(--yellow-100);
}

.yellow path {
	fill: var(--yellow-100);
}

.green100 {
	color: var(--green-100);
}
.green200 {
	color: var(--green-200);
}
.green300 {
	color: var(--green-300);
}
.grey {
	color: var(--grey-100);
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

html {
	scroll-behavior: smooth;
}

/*********TYPOGRAPHIE*********/

h2 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 240;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	color: #027b08;
}

.p01 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 240;
	font-size: 19px;
	line-height: 24px;
	text-align: center;

	color: var(--green-100);
}

.p02 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 240;
	font-size: 19px;
	line-height: 24px;
	text-align: center;

	color: var(--green-300);
}

/*********HEADER*********/

nav {
	display: flex;
	justify-content: space-around;
}

header {
	justify-content: space-evenly;
	display: flex;
	padding-top: 3px;
	height: 60px;
	align-items: center;
	position: fixed;
	background-color: white;
	width: 100%;
	border-bottom: 2px solid var(--yellow-100);
	z-index: 10;
	position: sticky;
	top: 0;
}

header ul {
	display: flex;
	gap: 25px;
	align-items: center;
	list-style-type: none;
}

header a {
	font-size: 18px;
	transition: all ease 0.2s;
}

header h1 {
	font-size: 20px;
}
header b {
	font-size: 20px;
}

li svg path {
	transition: all ease 0.2s;
}

li:hover a {
	color: var(--yellow-100);
	transition: all ease 0.2s;
}

li:hover svg path {
	transition: all ease 0.2s;
	fill: var(--yellow-100);
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo img {
	height: 50px;
	margin-top: -7px;
}

.connexion a {
	display: flex;
	align-items: center;
}

.connexion svg {
	height: 30px;
	padding-bottom: 2px;
}

.propos {
	width: 100%;
	white-space: nowrap;
}

.panier svg {
	height: 33px;
}

.panier div {
	display: inline-block;
	border-color: var(--yellow-100);
	border-radius: 100px;
	border-width: 3px;
	border-style: solid;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: -30px;
	background-color: white;
}
.panier div p {
	font-size: 16px;
}

/*********FOOTER*********/

/*********LOADING*********/

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease-in-out;
	opacity: 1;
}

.loader {
	height: 150px;
	width: 150px;
	transform-origin: center center;
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
