/*********GLOBAL*********/

@import url("https://fonts.googleapis.com/css?family=Inter");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-size: 22px;

    --green-10: #7dd181;
    --green-100: #369c3b;
    --green-200: #2d7f2f;
    --green-300: #1f5a1d;
    --yellow-100: #ffc157ab;
    --yellow-200: #face5f;
    --yellow-300: #f9b814;
    --orange-100: #ffd58e;
    --grey-100: #f3f3f3;
}

.yellow {
    color: var(--yellow-100);
}

.yellow path {
    fill: var(--yellow-100);
}

.green100 {
    color: var(--green-100);
}

.green200 {
    color: var(--green-200);
}

.green300 {
    color: var(--green-300);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

html {
    background-color: var(--orange-100);
}

/*********TYPOGRAPHIE*********/


h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 240;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: black;
}

.p01 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 240;
    font-size: 19px;
    line-height: 24px;
    text-align: center;

    color: rgb(44, 44, 44);
}

.p02 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 240;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: rgb(58, 58, 58);
}

/*********HEADER*********/

nav {
    display: flex;
    justify-content: space-around;
}

header {
    justify-content: space-evenly;
    display: flex;
    padding-top: 3px;
    height: 60px;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    border-bottom: 2px solid var(--yellow-100);
    z-index: 10;
    position: sticky;
    top: 0;
}

header ul {
    display: flex;
    gap: 25px;
    align-items: center;
    list-style-type: none;
}

header a {
    font-size: 18px;
    transition: all ease 0.2s;
}

header h1 {
    font-size: 20px;
}

header b {
    font-size: 20px;
}

li svg path {
    transition: all ease 0.2s;
}

li:hover a {
    color: var(--yellow-100);
    transition: all ease 0.2s;
}

li:hover svg path {
    transition: all ease 0.2s;
    fill: var(--yellow-100);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-top: -7px;
}

.connexion a {
    display: flex;
    align-items: center;
}

.connexion svg {
    height: 30px;
    padding-bottom: 2px;
}

.propos {
    width: 100%;
    white-space: nowrap;
}

.panier svg {
    height: 33px;
}

.panier div {
    --yellow-100: #ffc157ab;
    --yellow-200: #face5f;
    --yellow-300: #f9b814;
    display: inline-block;
    border-color: var(--yellow-100);
    border-radius: 100px;
    border-width: 3px;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: -30px;
    background-color: white;
}

.panier div p {
    font-size: 16px;
}

/*********FOOTER*********/
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
}

.footer {
    background-color: #ffc37a;
    padding: 40px 0;
}

.footer p {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: rgb(44, 44, 44);
    ;
    display: block;
    max-width: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--yellow-300);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: rgb(44, 44, 44);
    ;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    padding-left: 8px;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/*********LOADING*********/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    opacity: 1;
}

.loader {
    height: 150px;
    width: 150px;
    transform-origin: center center;
    animation: spin 1.2s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.dlg-dialog {
    border: none;
    box-shadow: 10px 10px 20px gray;
}

.dlg-header {
    background-color: #555;
    color: white;
}

.dlg-caption {
    height: 1.17em;
    text-shadow: 1px 1px 1px black;
}

.dlg-close-button::before,
.dlg-close-button::after {
    background-color: white;
}